@page
@model Darla.Views.Home.StudentView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Student View</title>
    <h1>Welcome Student!</h1>
</head>
<body>
<div>
    
</div>
</body>
</html>